.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.expandable {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.heading {
  padding: 2rem;
  padding-top: 0;
  font-size: 2rem;
  font-weight: 500;
  width: 60%;
}