.wrapper {
    width: 60%;
}

.headerStyle {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: whitesmoke;
    color: black;
    height: 5rem;

}

.bodyStyle {
    background-color: antiquewhite;
    margin-top:1rem;
    color: black;
    padding: 1rem;
    animation: fadeIn 200ms ease-in both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(-10px);
    }
}